<article class="task">
  <nz-page-header (nzBack)="onBack()" nzBackIcon>
    <nz-page-header-title>{{task == undefined ? "carregando..." : task.name}}</nz-page-header-title>
    <nz-page-header-extra>
      <i nz-icon nzType="edit" nzTheme="outline"></i>
    </nz-page-header-extra>
  </nz-page-header>
  <section *ngIf="task != undefined" class="task__container">
    <div class="task__container__info">
      <div class="task__container__info__description">
        <p>{{task.description}}</p>
      </div>
      <div class="task__container__info__date-and-tag">
        <p>{{task.date}}</p>
        <nz-tag [nzColor]="'green'">{{task.category}}</nz-tag>
      </div>
      <div class="task__container__info__responsible-and-hour">
        <div class="task__container__info__responsible-and-hour__responsible">
          <nz-avatar nzSize="large" nzIcon="user" [nzSrc]="task.responsible.photo"></nz-avatar>
          <span>{{task.responsible.firstName}} {{task.responsible.lastName}}</span>
        </div>
        <div class="task__container__info__responsible-and-hour__hour">{{task.time}}</div>
      </div>
    </div>
    <div class="task__container__comments">
      <nz-divider nzText="Comentários" nzOrientation="left"></nz-divider>
      <nz-list [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzNoResult]="noComments">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.date">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.photo"></nz-avatar>
            <nz-comment-content>
              <p>{{ item.message }}</p>
            </nz-comment-content>
          </nz-comment>
        </ng-template>
        <ng-template #noComments let-name>
          <nz-empty nzNotFoundContent="Nenhum comentário ainda"></nz-empty>
        </ng-template>
      </nz-list>
      <nz-comment>
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="currentUser.photo"></nz-avatar>
        <nz-comment-content>
          <nz-form-item>
            <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
          </nz-form-item>
          <nz-form-item style="text-align: right;">
            <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="comment()">
              Comentar
            </button>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>
      <button *ngIf="!task.done" nz-button nzType="primary" nzSize="large" nzBlock (click)="setTaskDone(true)">
        <i nz-icon nzType="check"></i>Marcar como realizada
      </button>
      <button *ngIf="task.done" nz-button nzType="danger" nzSize="large" nzBlock (click)="setTaskDone(false)">
        <i nz-icon nzType="close"></i>Marcar como não realizada
      </button>
    </div>
  </section>
</article>
