.sign-up {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    padding: 30px;
    box-sizing: border-box;

    &__logo {
      height: 115px;
      text-align: center;
      margin-bottom: 30px;
    }

    &__form {
      &__button {
        margin-top: 10px;
        width: 100%;
      }

      &__login {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}