<article class="network-invit">
  <nz-page-header (nzBack)="onBack()" nzBackIcon>
    <nz-page-header-title>Entre na rede</nz-page-header-title>
  </nz-page-header>
  <section class="network-invit__container" *ngIf="network != undefined">
    <div class="network-invit__container__main">
      <div class="network-invit__container__main__avatar">
        <nz-avatar [nzSrc]="network.getAvatar()" [nzSize]="90" nzIcon="team"></nz-avatar>
      </div>
      <div class="network-invit__container__main__name">{{network.getName()}}</div>
      <div class="network-invit__container__main__id">
        <input id="networkCode" type="text" value="{{network.getId()}}" readonly>
      </div>
      <div class="network-invit__container__main__button">
        <button nz-button nzType="primary" (click)="signInNetwork()" nzSize="large">Entrar</button>
      </div>
    </div>
  </section>
</article>