.network {
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  &__container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 57px);
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;

    &__main {
      text-align: center;
      margin-bottom: 30px;

      &__avatar {
        margin-bottom: 10px;
      }

      &__name {
        font-weight: bold;
      }

      &__id {
        font-size: 18px;
        color: lightgrey;
        font-weight: bold;

        input {
          border: none;
          outline: none;
        }
      }
    }

    &__actions {
      margin-top: 30px;
    }
  }
}