<article class="login">
  <section class="login__container">
    <div class="login__container__logo">
      <ag-logo></ag-logo>
    </div>
    <form class="login__container__form" nz-form [formGroup]="validateForm" (ngSubmit)="onLogin()">
      <nz-form-item>
        <nz-form-control nzErrorTip="E-mail inválido">
          <nz-input-group nzPrefixIcon="mail">
            <input type="email" nz-input formControlName="email" placeholder="E-mail" [(ngModel)]="email"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Informe sua senha!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Senha" [(ngModel)]="password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <a class="login__container__form__forgot">Esqueci minha senha</a>
          <button nz-button class="login__container__form__button" [nzType]="'primary'" nzSize="large">Entrar</button>
          <div class="login__container__form__sign-up">
            <a [routerLink]="['/sign-up']">Não possui uma conta? <b>Cadastre-se</b></a>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </section>
</article>