.login {
  height: 100vh;
  background-image: url('../../../assets/images/login-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__container {
    padding: 30px;
    box-sizing: border-box;

    &__logo {
      height: 115px;
      text-align: center;
      margin-bottom: 30px;
    }

    &__form {
      &__forgot {
        float: right;
      }
      
      &__button {
        margin-top: 10px;
        width: 100%;
      }

      &__sign-up {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}