<article *ngIf="user !== undefined" class="home">
  <nz-tabset nzTabPosition="bottom" nzSize="large" [nzSelectedIndex]="tabSelected">

    <nz-tab [nzTitle]="routineTemplate">
      <ng-template #routineTemplate><i nz-icon nzType="schedule"></i>Rotina</ng-template>
      <nz-page-header>
        <nz-page-header-title>Rotina</nz-page-header-title>
        <nz-page-header-subtitle>{{dayOfTheWeek}}, {{day}} de {{month}}</nz-page-header-subtitle>
        <nz-page-header-extra>
          <i nz-icon class="datePickerBtn" nzType="calendar" nzTheme="outline" (click)="toggleDatePicker()"></i>
          <span *ngIf="networkService.currentNetwork !== null" nz-dropdown nzTrigger="click" [nzDropdownMenu]="networks">
            <nz-avatar style="margin-left: 20px" nzSize="small" nzIcon="team" [nzSrc]="networkService.currentNetwork.avatar"></nz-avatar>
          </span>
          <nz-dropdown-menu #networks="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item nzDisabled>Mudar rede</li>
              <li nz-menu-divider></li>
              <li *ngFor="let item of myNetworks" nz-menu-item (click)="switchNetwork(item.id)">{{item.name}}</li>
            </ul>
          </nz-dropdown-menu>
        </nz-page-header-extra>
      </nz-page-header>
      <nz-date-picker nzDropdownClassName="routine-date-picker" [nzOpen]="openDatePicker" [(ngModel)]="date" (ngModelChange)="getTasks($event, networkService.currentNetwork.id)" (clickOutside)="openDatePicker ? closeDatePicker() : null" [excludeBeforeClick]="true" [exclude]="'.datePickerBtn, .ant-calendar-panel'"></nz-date-picker>
      <section class="home__routine__list">
        <nz-list [nzDataSource]="tasks" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzNoResult]="noTasks">
          <ng-template #item let-item>
            <nz-list-item [nzExtra]="taskTag" class="home__routine__list__item" [ngClass]="{'task-done': item.done}" [routerLink]="['/task', item.id]">
              <nz-list-item-meta [nzTitle]="taskTitle" [nzAvatar]="taskAvatar" [nzDescription]="'Responsável: ' + item.responsible.firstName">
                <ng-template #taskTitle>
                  <a>{{ item.name }}</a>
                </ng-template>
                <ng-template #taskAvatar>
                  <nz-badge [nzCount]="item.done ? checked : 0">
                    <nz-avatar [nzSize]="64" nzIcon="user" [nzSrc]="item.responsible.photo"></nz-avatar>
                  </nz-badge>
                  <ng-template #checked>
                    <i nz-icon nzType="check-circle" nzTheme="fill" class="ant-scroll-number-custom-component" style="color: #00AA00; font-size: 20px;"></i>
                  </ng-template>
                </ng-template>
              </nz-list-item-meta>
              <ng-template #taskTag>
                <div class="home__routine__list__item__hour-container">
                  <nz-tag [nzColor]="item.category.color">{{item.category}}</nz-tag>
                  <div class="home__routine__list__item__hour-container__hour">{{item.time}}</div>
                </div>
              </ng-template>
            </nz-list-item>
          </ng-template>
          <ng-template #noTasks let-name>
            <nz-empty style="padding: 24px;" nzNotFoundContent="Nenhuma atividade cadastrada para hoje"></nz-empty>
          </ng-template>
        </nz-list>
      </section>
      <button *ngIf="networkService.currentNetwork != null && networkService.currentNetwork.admId === currentUser.id" class="home__routine__add-btn" nz-button nzType="primary" nzSize="large" nzShape="circle" [routerLink]="['/register-task']"><i nz-icon nzType="plus"></i></button>
    </nz-tab>

    <nz-tab [nzTitle]="profileTemplate">
      <ng-template #profileTemplate><i nz-icon nzType="user"></i>Perfil</ng-template>
      <nz-page-header>
        <nz-page-header-title>Perfil</nz-page-header-title>
        <nz-page-header-extra>
          <span nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
            <i nz-icon nzType="more" nzTheme="outline"></i>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item>Editar perfil</li>
              <li (click)="onLogout()" nz-menu-item>Sair</li>
            </ul>
          </nz-dropdown-menu>
        </nz-page-header-extra>
      </nz-page-header>
      <section class="home__profile__container">
        <div class="home__profile__container__user">
          <div class="home__profile__container__user__avatar">
            <nz-avatar [nzSrc]="user.getPhoto()" [nzSize]="84" nzIcon="user"></nz-avatar>
          </div>
          <div class="home__profile__container__user__name">{{user.getFirstName()}} {{user.getLastName()}}</div>
          <div class="home__profile__container__user__email">{{user.getEmail()}}</div>
        </div>
        <div class="home__profile__container__list-of-networks">
          <div class="home__profile__container__list-of-networks__label">Minhas redes de cuidados:</div>
          <nz-list [nzDataSource]="myNetworks" [nzRenderItem]="network" [nzItemLayout]="'horizontal'" [nzLoading]="loadingNetworks" nzBordered>
            <ng-template #network let-item>
              <nz-list-item [routerLink]="['/network', item.id]">
                <nz-list-item-meta [nzTitle]="networkTitle" [nzAvatar]="networkAvatar">
                  <ng-template #networkTitle>
                    <a class="home__profile__container__list-of-networks__network-name">
                      {{ item.name }}
                    </a>
                  </ng-template>
                  <ng-template #networkAvatar>
                    <nz-avatar nzSize="large" nzIcon="team" [nzSrc]="item.avatar"></nz-avatar>
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
        </div>
        <div class="home__profile__container__actions">
          <button nz-button nzType="primary" [routerLink]="['/register-network']" nzSize="large" nzBlock>Criar uma nova rede</button>
          <button nz-button nzType="default" nzSize="large" (click)="showCodeModal()" nzBlock>Entrar em uma rede existente</button>
        </div>
        <nz-modal [(nzVisible)]="codeModal" nzTitle="Informe o código da rede" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          <input nz-input placeholder="Código da rede" nzSize="large" [(ngModel)]="networkCode"/>
        </nz-modal>
      </section>
    </nz-tab>
  </nz-tabset>
</article>