.edit-profile {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__container {
    height: calc(100% - 57px);
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;

    &__form {
      &__upload-photo {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        &__container {
          width: 100px;
          height: 100px;
          position: relative;

          &__file-picker {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            border-radius: 50%;
          }
        }
      }

      &__button {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}

.avatar {
  width: 100px;
  height: 100px;
}
.upload-icon {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}